# [Kaggle Project: House Prices](https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques)

In [13]:
import pandas as pd
import numpy as np

In [6]:
df_train = pd.read_csv('data/train.csv')
df_test  = pd.read_csv('data/test.csv')

## Data Cleaning

In [15]:
df_train.shape

(1460, 81)

In [57]:
d = pd.DataFrame(df_train.isna().sum().values/df_train.shape[0]*100,
                 index = df_train.isna().sum().index,
                 columns = ['null%'])
# d['non_null'] = 1-d.null
d.loc[d['null%']>0].sort_values(by=['null%'])

                  null%
Electrical     0.068493
MasVnrType     0.547945
MasVnrArea     0.547945
BsmtQual       2.534247
BsmtCond       2.534247
BsmtFinType1   2.534247
BsmtExposure   2.602740
BsmtFinType2   2.602740
GarageCond     5.547945
GarageQual     5.547945
GarageFinish   5.547945
GarageType     5.547945
GarageYrBlt    5.547945
LotFrontage   17.739726
FireplaceQu   47.260274
Fence         80.753425
Alley         93.767123
MiscFeature   96.301370
PoolQC        99.520548

In [47]:
d

                   null
Id             0.000000
MSSubClass     0.000000
MSZoning       0.000000
LotFrontage    0.177397
LotArea        0.000000
...                 ...
MoSold         0.000000
YrSold         0.000000
SaleType       0.000000
SaleCondition  0.000000
SalePrice      0.000000

[81 rows x 1 columns]

In [12]:
df_train.columns.shape

(81,)

In [11]:
df_train.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64