# [Kaggle Project: House Prices](https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques)

In [284]:
import pandas as pd
import numpy as np

In [296]:
df_train = pd.read_csv('data/train.csv')
df_test  = pd.read_csv('data/test.csv')

## Data Cleaning

In [297]:
display(df_train[:5])
print('The shape of df_train is ',df_train.shape)
display(df_test[:5])
print('The shape of df_test is ',df_test.shape)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

The shape of df_train is  (1460, 81)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

The shape of df_test is  (1459, 80)

In [298]:
Dtypes = df_train.dtypes

#### Drop Id

In [299]:
df_train.drop(columns=['Id'],inplace=True)
df_test.drop(columns=['Id'],inplace=True)

#### Missing Values

In [300]:
cols = df_test.columns

In [302]:
df_null = pd.DataFrame({
    'train_null%':df_train[cols].isna().sum().values/df_train[cols].shape[0]*100,
    'test_null%':df_test[cols].isna().sum().values/df_test[cols].shape[0]*100},
    index = cols)

row_idx = (df_null['train_null%']>0) | (df_null['test_null%']>0)
col_idx = df_null.columns

df_null_sub = df_null.loc[row_idx,col_idx]
df_null_sub['sum%'] = df_null_sub.sum(axis=1)

In [303]:
df_null_sub.sort_values(by='sum%')

              train_null%  test_null%        sum%
Electrical       0.068493    0.000000    0.068493
TotalBsmtSF      0.000000    0.068540    0.068540
GarageArea       0.000000    0.068540    0.068540
GarageCars       0.000000    0.068540    0.068540
KitchenQual      0.000000    0.068540    0.068540
BsmtUnfSF        0.000000    0.068540    0.068540
BsmtFinSF2       0.000000    0.068540    0.068540
BsmtFinSF1       0.000000    0.068540    0.068540
SaleType         0.000000    0.068540    0.068540
Exterior1st      0.000000    0.068540    0.068540
Exterior2nd      0.000000    0.068540    0.068540
Functional       0.000000    0.137080    0.137080
Utilities        0.000000    0.137080    0.137080
BsmtHalfBath     0.000000    0.137080    0.137080
BsmtFullBath     0.000000    0.137080    0.137080
MSZoning         0.000000    0.274160    0.274160
MasVnrArea       0.547945    1.028101    1.576047
MasVnrType       0.547945    1.096642    1.644587
BsmtFinType1     2.534247    2.878684    5.412931
BsmtFinType2     2.602740    2.878684    5.481424
BsmtQual         2.534247    3.015764    5.550011
BsmtExposure     2.602740    3.015764    5.618504
BsmtCond         2.534247    3.084304    5.618551
GarageType       5.547945    5.209047   10.756992
GarageCond       5.547945    5.346127   10.894073
GarageQual       5.547945    5.346127   10.894073
GarageYrBlt      5.547945    5.346127   10.894073
GarageFinish     5.547945    5.346127   10.894073
LotFrontage     17.739726   15.558602   33.298328
FireplaceQu     47.260274   50.034270   97.294544
Fence           80.753425   80.123372  160.876797
Alley           93.767123   92.666210  186.433333
MiscFeature     96.301370   96.504455  192.805825
PoolQC          99.520548   99.794380  199.314928

In [309]:
df_train.Electrical.describe

<bound method NDFrame.describe of 0       SBrkr
1       SBrkr
2       SBrkr
3       SBrkr
4       SBrkr
        ...
1455    SBrkr
1456    SBrkr
1457    SBrkr
1458    FuseA
1459    SBrkr
Name: Electrical, Length: 1460, dtype: object>

In [310]:
drop_cols = list(df_null_sub.loc[df_null_sub['sum%']>1].index)
cols_fillna = df_null_sub.loc[df_null_sub['sum%']<=1].index
# drop_cols

In [325]:
df_train.drop(columns=drop_cols,inplace=True)
df_test.drop(columns=drop_cols,inplace=True)
print('The shape of df_train is ',df_train.shape)
print('The shape of df_test is ',df_test.shape)

The shape of df_train is  (1460, 62)
The shape of df_test is  (1459, 61)

#### Fill Missing Values

In [324]:
df_train[cols_fillna].describe(exclude=[object])

,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,BsmtFullBath,BsmtHalfBath,GarageCars,GarageArea
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,443.639726,46.549315,567.240411,1057.429452,0.425342,0.057534,1.767123,472.980137
std,456.098091,161.319273,441.866955,438.705324,0.518911,0.238753,0.747315,213.804841
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,223.000000,795.750000,0.000000,0.000000,1.000000,334.500000
50%,383.500000,0.000000,477.500000,991.500000,0.000000,0.000000,2.000000,480.000000
75%,712.250000,0.000000,808.000000,1298.250000,1.000000,0.000000,2.000000,576.000000
max,5644.000000,1474.000000,2336.000000,6110.000000,3.000000,2.000000,4.000000,1418.000000

In [320]:
df_train[cols_fillna].describe(include=[object])

,MSZoning,Utilities,Exterior1st,Exterior2nd,Electrical,KitchenQual,Functional,SaleType
count,1460,1460,1460,1460,1459,1460,1460,1460
unique,5,2,15,16,5,4,7,9
top,RL,AllPub,VinylSd,VinylSd,SBrkr,TA,Typ,WD
freq,1151,1459,515,504,1334,735,1360,1267

In [280]:
from sklearn.impute import SimpleImputer

In [281]:
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

train_dtypes = df_train.dtypes
test_dtypes = df_test.dtypes

df_train = pd.DataFrame(imp.fit_transform(df_train), 
                        index= df_train.index, 
                        columns = df_train.columns).astype(train_dtypes.to_dict())

df_test = pd.DataFrame(imp.fit_transform(df_test), 
                        index= df_test.index, 
                        columns = df_test.columns).astype(test_dtypes.to_dict())

In [282]:
# double check
df_test.isna().sum().values.sum()

0